/*.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
*/
.App {
  text-align: center;
  position: relative;
  left: 25%;
  top: 100px;
}
.users{
  text-align: center;
  line-height: 0.2;
}
input[type='email'] {
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #000;

}
input{
  width: 100%;
  padding-top: 10px;
}
.text{
  margin-top: 10px;
  padding-top:  20px;
  font-size: 20px;
  font-weight: 500;
  color: #ff6300;
  text-align: center;
}
.sub{
  color: black;
  font-size: 1.5rem;
  margin-top: 5px;
}